@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');



.banner__navegacao {}

.imagem__banner__experiencia__imagens {
    width: 19.5rem;
    height: 24.1rem;
    border-radius: 1rem;
    padding: 2rem 0rem 1rem 1.5rem;
}

.experiencia__aviso__titulo__paragrafo {
    width: 16.4rem;
    height: 2.4rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    padding: 1rem 0rem 1rem 3.5rem; 
    color: #444444;
}

.experiencia__paragrafo__texto {
    color: #444444;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2.5rem;
    width: 20.5rem;
    height: rem;
    padding: 2rem 1rem 0rem 1rem;
}



