@import url("styles/header.css");

@media screen and (max-width: 360px) {

    .principal__imagem__de__fas {
        background-image: url("img/Imagem.das.fas.maior.png"), no-repeat;
        width: 20%;
    }
    .principal__rodape {
        display: flex;
        justify-content: center;
        border-left: 8rem 0;
        
    }
}

@media screen and (max-width: 768px) {
   

    .principal__rodape {
        display: flex;
        justify-content: center;
        border-left: 8rem 0;
        background-image: url("img/Imagem.png"), no-repeat;
    }

    .principal__rodape__paragrafo {
        padding-right: 8rem 0;
    }
}

@media screen and (min-width: 1440px) {
    
}