:root {
    --cor-de-fundo:#2E7BA2; 
    --cor-principal: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    --fonte-texto: 'Raleway', sans-serif;
    --color-hamburguer: #FFFFFF;
    --color-lista: #444444;
}

body {
    background: var(--cor-principal);
    background-repeat: no-repeat;
}

@media only screen and (min-width: 360px) {
    body {
        width: 360px;
        height: 4483px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        width: 768px;
        height: 3532px;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        width: 1440px;
        height: 2727px;
    }
}