:root {
    --cor-de-fundo:#2E7BA2; 
    --cor-principal: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    --fonte-texto: 'Raleway', sans-serif;
    --color-hamburguer: #000000;
}

.header__nav {
    background-color: var(--cor-de-fundo);
    width: 22.5rem;
}

body {
    background: var(--cor-principal);
}

/*@media (max-width: 360px) {
    .header__nav {
        width: 22.5rem;
    }
}

@media (max-width: 768px) {
    .header__nav {
        width: 48rem;
    }
}*/

/*
.header__nav {} 

.nav__bar {   /*  .cabecalho */
  /*  width: auto;    /*20.5rem; será que fica bom o auto, ele vai se ajustar a quaquer tela */
  /*  height: 4rem;   /* nao acho que altura seja necessaria */
  /*  display: flex;  
    background-color: var(--cor-de-fundo); 
    /* list-style: none; */
    /* position: relative; */
    /* padding: 2rem 1.5rem 2rem 1.5rem;   
 
} 
 
.nav__logo {
    width: 14.7rem;
    height: 4rem;  
}

.nav__ul__li {
    display: flex;
    gap: 3rem;
    list-style: none;
}
*/


/*
.nav__hamburguer__paginas__codechella {
    width: 2rem; 
    height: 2.5rem; 
}

.nav__menu__configuracoes {
    width: 2rem;
    padding: 1.5rem 0rem;
}

.nav__buttom__login__configuracoes {
    padding: 1.5rem 0rem;
}

.nav__buttom__login__configuracoes a {
    text-decoration: none;
}

.nav__mobile__menu__configuracoes {}

.nav__mobile__buttom__icone {}

.nav__mobile__menu__ul__configuracoes {
   
}
*/









/* ESSA PARTE AQUI É DO CORPO DO PROJETO EM SI */


/*
.container {   
    display: flex;
    align-items: center; 
}

.container__botao {
    display: none; 
}
*/



/*
.nav__lista__menu__ul {
    display: none; 
    position: absolute;  
    top: 100%; 
    width: 60vw;
    right: 0rem;
    text-align: center;
    gap: 0.06rem;
    font-weight: 700;
    line-height: 0.5rem;
    border: 0.04rem solid white;
}

.container__botao:checked ~ .lista__menu {
    display: block;   
}

.nav__lista__menu__item {
    padding: 1rem;
    background-color: var(--cor-de-fundo);
    border: 0.5px solid white;
}

.nav__lista__menu__link {
    color: white;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 1.25rem;
    line-height: 2.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    background-clip: text;
}

.nav__mobile__menu__configuracoes {
    visibility: hidden;
}
*/





