header {
    background-color: var(--cor-de-fundo);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    width: 2560px;
    gap: 1rem;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 27rem;
}

.header__nav-container-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin: 1rem 1rem 1rem 4rem;
    font-family: var(--fonte-texto);
} /* to neste ponto */

.header__nav-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__nav-lista-link {}

.header__container-hamburguer {}




/*
.header__nav {}

.nav__menu-bar {
    display: flex;
    flex-direction: row;
}

.nav__menu-logo-codechella {
    margin: 1rem; 
}

.nav__menu__container-checkbox {
    margin: 2.5rem 3.5rem 0.5rem 2.5rem;
}

.nav__menu__container__input-checkbox {
    display: none;
}

.nav__menu__container-label {}

.nav__menu__hamburguer-span {
    display: none;
}

.nav__ul__li__menu {
    display: none;
}

.nav__ul__li__a__menu {}
*/



/*
@media screen (min-width: 320px) {
    header {
        width: 320px;
    }
    
}
*/

@media screen (min-width: 360px) {
    header {
        width: 360px;
    }

    .header__nav {
        display: flex;
        align-items: center;
        gap: 27rem;
    }

    .header__nav-barra1 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .header__nav-barra2 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .header__nav-barra3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
}

@media screen (min-width: 768px) {
    header {
        width: 768px;
    }
}

@media screen (min-width: 1440px) {
    header {
        width: 1440px;
    }
}

@media screen (min-width: 2560px) {
    header {
        width: 2560px;
    }
}






/* 
Esse foi o mais simples, mas que melhor funcionou 

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.nav__humburguer__container__position {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.3rem 1.2rem;
    padding-left: 1.9rem;
    width: 3rem;
} 
..........................................................
*/


/*
.header__nav {
    background-color: var(--cor-de-fundo);
    /*width: 100%;*/    /*22.5rem;*/
    /*height: 100%;*/
   /* overflow: hidden;
    min-height: 0px;
    min-width: 0px;
}
*/



/*
.nav__humburguer__container__position {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    margin: 10px 24px;
}

*/

/*
@media only screen and (min-width: 360px) {
    .header__nav {
        
        width: 360px;
        height: 128px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 32px 24px;
        gap: 32px;
        
    }
*/
   /*
    .nav__humburguer__container__position {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        margin: 10px 24px;
    }
 

}
  */

/*
@media only screen and (min-width: 768px) {
    .header__nav {
        width: 768px;
        height: 200px;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 60px;
        gap: 32px;
    }
}
*/


/*
@media only screen and (min-width: 1440px) {
    .header__nav {
        width: 1440px;
        height: 128px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 32px 120px;
        gap: 32px;
    }
}
*/







/*
.header__nav {} 

.nav__bar {   /*  .cabecalho */
  /*  width: auto;    /*20.5rem; será que fica bom o auto, ele vai se ajustar a quaquer tela */
  /*  height: 4rem;   /* nao acho que altura seja necessaria */
  /*  display: flex;  
    background-color: var(--cor-de-fundo); 
    /* list-style: none; */
    /* position: relative; */
    /* padding: 2rem 1.5rem 2rem 1.5rem;   
 
} 
 
.nav__logo {
    width: 14.7rem;
    height: 4rem;  
}

.nav__ul__li {
    display: flex;
    gap: 3rem;
    list-style: none;
}
*/


/*
.nav__hamburguer__paginas__codechella {
    width: 2rem; 
    height: 2.5rem; 
}

.nav__menu__configuracoes {
    width: 2rem;
    padding: 1.5rem 0rem;
}

.nav__buttom__login__configuracoes {
    padding: 1.5rem 0rem;
}

.nav__buttom__login__configuracoes a {
    text-decoration: none;
}

.nav__mobile__menu__configuracoes {}

.nav__mobile__buttom__icone {}

.nav__mobile__menu__ul__configuracoes {
   
}
*/









/* ESSA PARTE AQUI É DO CORPO DO PROJETO EM SI */


/*
.container {   
    display: flex;
    align-items: center; 
}

.container__botao {
    display: none; 
}
*/



/*
.nav__lista__menu__ul {
    display: none; 
    position: absolute;  
    top: 100%; 
    width: 60vw;
    right: 0rem;
    text-align: center;
    gap: 0.06rem;
    font-weight: 700;
    line-height: 0.5rem;
    border: 0.04rem solid white;
}

.container__botao:checked ~ .lista__menu {
    display: block;   
}

.nav__lista__menu__item {
    padding: 1rem;
    background-color: var(--cor-de-fundo);
    border: 0.5px solid white;
}

.nav__lista__menu__link {
    color: white;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 1.25rem;
    line-height: 2.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    background-clip: text;
}

.nav__mobile__menu__configuracoes {
    visibility: hidden;
}
*/



