@import url("./global.css");
@import url("./header.css");
@import url("./footer.css");


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__navegacao {}

.imagem__banner__informacoes__show {
    width: 23.5rem;
    height: 17.6rem;
    display: flex;   
    
}

.informacoes__titulo {
    color: #444444;
    width: 19.5rem;
    height: 5.25rem;
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.7rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

/* ACCORDION */
.container-accordion {}

.accordion-drop {}

.accordion-titulo {
    background-color: var(--cor-de-fundo);
    color: var(--color-header);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.375rem;
    width: 20.3rem;
    padding: 10px;
    box-sizing: border-box;
    margin: 1rem 0rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    cursor: pointer;

    font-size: 1.5rem;
    line-height: 30px;
}

.titulo {}

.seta {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}



.sectionShow p { /*.show*/
    
    /*display: block;*/

    background-color: #C8DEEF;
    color: var(--color-lista);
    font-family: 'Raleway';
    font-weight: 500;
    line-height: 35px;
    padding: 6px;
    box-sizing: border-box;

    display: flex;
    
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: -1rem 1rem 1rem 1rem;
    width: 20.3rem;
}




