/* MENU DE NAVEGAÇÃO */

.header__nav {
    background-color: var(--cor-de-fundo);
    width: auto;
} 

.nav__bar {   
    display: flex;    
    box-sizing: border-box; /*confirmar a necessidade nas outras telas*/
    justify-content: space-between;
} 
  
.nav__logo {
    width: 14.7rem;
    height: 4rem;  
    padding: 0.5rem;
}

.nav__ul__li__menu {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-family: var(--fonte-texto);
    font-weight: bold;
}

.nav__ul__li__a__menu { 
    text-decoration: none;
    display: block;
    padding: 0rem 4rem;
} 

.nav__ul__li__a__menu:hover {
    color: #ffffff;
    font-size: 1.1rem;  
}







/* BUTTON MOBILE DE NAVEGAÇÃO */

/*
.nav__button__mobile {
    display: none;
}

@media (max-width: 768px) {
    .nav__button__mobile {
        display: block;
    }
    .nav__ul__li__menu { 
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0px;
        background: var(--cor-de-fundo);
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    .nav__bar.active .nav__ul__li__menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    .nav__ul__li__a__menu {
        padding: 1rem 0rem;
        margin: 0 1rem;
    }
    .nav__button__mobile { 
        display: flex;
        padding: 2rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }
    #nav__button__mobile-hamburguer {
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #nav__button__mobile-hamburguer::after, 
    #nav__button__mobile-hamburguer::before {
        display: block;
        width: 20px;
        height: 2px;
        content: '';
        background: var(--color-hamburguer);
        margin-top: 5px;
    }
    .nav__bar.active 
    #nav__button__mobile-hamburguer {
        border-top-color: transparent;
    }
    #nav__button__mobile-hamburguer::before {
        
    }
}

@media (max-width: 360px) {
    .nav__button__mobile {
        display: block;
    }
    .nav__ul__li__menu {   
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0px;
        background: var(--cor-de-fundo);
        transform: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    .nav__bar.active .nav__ul__li__menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    .nav__ul__li__a__menu {
        padding: 1rem 0rem;
        margin: 0 1rem;
        border-bottom: 0.1px  solid #ffffff;
    }
    .nav__button__mobile {   
        display: flex;
        padding: 2rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #nav__button__mobile-hamburguer {
        border-top: 2px solid;
        width: 20px;
    }
    #nav__button__mobile-hamburguer::after, 
    #nav__button__mobile-hamburguer::before {
        display: block;
        width: 20px;
        height: 2px;
        content: '';
        background: var(--color-hamburguer);
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    .nav__bar.active 
    #nav__button__mobile-hamburguer {
        border-top-color: transparent;
    }
    #nav__button__mobile-hamburguer::before {
        transform: rotate(135deg);
    }
    #nav__button__mobile-hamburguer::after {
        transform: rotate(-135deg);
        top:  -7px;
    }















    .principal__carrossel__banner {
        background-image: url("/img/Banner.mobile.png");*/
  /*      width: 100%;
        height: 270px;
        object-fit: cover;
        object-position: top;
    }
}

*/


.nav__humburguer__container__position {
    display: flex;
    flex-direction: row;
} /* confirmar se eu mantenho isso aqui */



.nav__humburguer__container__bars {
    display: inline-block;
    cursor: pointer;
  }
  
.nav__humburguer__container-bar1, 
.nav__humburguer__container-bar2, 
.nav__humburguer__container-bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--color-hamburguer);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .nav__humburguer__container-bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .nav__humburguer__container-bar2 {opacity: 0;}
  
  .change .nav__humburguer__container-bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }


